$red: red;
$black: black;
$white: white;
$light-grey: #ebebeb;
$dark-grey: #808080;
$label-width: 80px;

* {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.body {

}

.top-bar {
	height: 80px;
	width: 100%;
	background-color: $black;
	position: relative;
}

.grid {
	padding-right: 50px;
	padding-top: 20px;
	ul {
		margin: 0px;
		li {
			width: 10%;
			display: inline-block;
			border-radius: 5px;
			box-sizing: border-box;
			margin-right: 4px;
		}
	}
	.indicators {
		height: 20px;
		display: flex;
		.indicator {
			text-align: center;
			&:after {
				line-height: 10px;
				content: "●";
			}
			&.pos {
				color: $red;
			}
		}
		.label-spacer {
			min-width: $label-width;
			// width: 100px;
			&:after {
				content: "";
			}
		}
	}
	.pads {
		height: 40px;
		display: flex;
		margin-bottom: 4px;
		font-family: Helvetica;
		.pad {
			height: 40px;
			font-size: 10px;
			// font-family: Helvetica;
			background-color: $light-grey;
			color: $dark-grey;
			transition: background 0.2s linear;
			// border: 1px solid $black;
			padding: 3px 0px 0px 4px;
			&.active {
				background-color: $dark-grey;
				color: $light-grey;
			}
		}
		.pad-label {
			line-height: 40px;
			min-width: $label-width;
			border: none;
			font-size: 14px;
			text-align: right;
			padding-right: 10px;
		}
	}
}
.transport {
	ul {
		li {
			list-style-type: none;
		}
	}
	.btn {
		&.active {
			color: $red;
		}
	}
}