$red: red;
$black: black;
$white: white;
$light-grey: #ebebeb;
$lighter-grey: #f2f2f2;
$dark-grey: #666666;
$darker-grey: #1a1a1a;
$label-width: 80px;

* {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
body {
	height: 100%;
	margin: 0px;
	font-family: Helvetica;
}

.top-bar {
	height: 80px;
	width: 100%;
	background-color: $darker-grey;
	position: relative;
}

.grid {
	/*padding-right: 50px;*/
	padding-top: 20px;
	ul {
		margin: 0px;
		li {
			width: 10%;
			display: inline-block;
			border-radius: 5px;
			box-sizing: border-box;
			margin-right: 10px;
		}
	}
	.indicators {
		height: 20px;
		display: flex;
		.indicator {
			text-align: center;
			&:after {
				line-height: 10px;
				content: "●";
			}
			&.pos {
				color: $red;
			}
		}
		.label-spacer {
			min-width: $label-width;
			&:after {
				content: "";
			}
		}
	}
	.pads {
		height: 50px;
		display: flex;
		margin-bottom: 14px;
		/*font-family: Helvetica;*/
		.pad {
			font-size: 10px;
			background-color: $light-grey;
			color: $dark-grey;
			transition: background 0.2s linear;
			padding: 4px 0px 0px 6px;
			&.active {
				background-color: $dark-grey;
				color: $light-grey;
			}
		}
		.pad-label {
			line-height: 50px;
			min-width: $label-width;
			border: none;
			font-size: 14px;
			text-align: right;
			padding-right: 10px;
		}
	}
}
.transport-cont {
	width: 100%;
	height: 25%;
	position: absolute;
	bottom: 0px;
	background-color: $lighter-grey;
}
.transport {
	ul {
		li {
			list-style-type: none;
		}
	}
	.btn {
		border: 1px solid black;
		width: 122px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		display: inline-block;
		border-radius: 5px;
		margin-right: 10px;
		&.active {
			color: $red;
		}
	}
}